<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a great fucking test</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <main id="wrapper">
        <div id="main-page">
            <div id="left-painel" class="">
                <section id="presentation-section" class="section-medium">
                    <div id="presentation-wrapper">
                        <div class="subtitle1">Hi! i'm</div>
                        <div class="titulo1">Mauro Henrique</div>
                        <div class="subtitle1">Front-end Developer</div>
                    </div>
                </section>
                <section id="button-section" class=" center-v">
                    <div id="buttons-wrapper">
                        <button class="buttons">View Portfolio</button>
                        <button class="buttons">Download Resume</button>
                    </div>
                </section>
          
                <section id="about-section" class="section-medium center-v">
                    <h2 class="titulo2">About me</h2>
                    <p class="subtitle2">Hello, i'm a front-end developer from Fortaleza, Brazil
                        currently studying System's Analysis and Development.
                    </p>
                </section>
                <button class="scroll-container">
                    <div class="field">
                        <div class="scroll"></div>
                    </div>
                </button>
            </div>
            <div id="right-painel">
                <div id="banner-section" class="">
                    <div class="subtitle3">Overall View:</div>
                    <img src="/static/images/eu-removebgComplete.png" id="bannerImg"></img>
                    <span id="sideBanner">
                        <div class="subtitle3 text-center">Experience with:</div>
                        <ul class="ul-container">
                            <li>JAVASCRIPT</li>
                            <li>PYTHON</li>
                            <li>NODE</li>
                            <li>EXPRESS</li>
                            <li>DJANGO</li>
                            <li>MONGO DB</li>
                        </ul>
                    </span>
                </div>
                <div id="game-wrapper">
                    <canvas id="stage"></canvas>
                </div>
                <hr>
            </div>
            <section id="lets-work-together" class="section-medium">
                <h2 id="work-together" class="titulo1 largeF">Let's work together!</h2>
                <ul class="wrapper">
                    <li class="icon twitter">
                        <span class="tooltip">LinkedIn</span>
                        <span><i class="fab fa-twitter"></i></span>
                        <img src="../static/images/linkedin-app-icon.png" class="icon" alt="">
                    </li>
                    <li class="icon github">
                        <span class="tooltip">Github</span>
                        <span><i class="fab fa-github"></i></span>
                        <img src="../static/images/github-icon.png" class="icon" alt="">
                    </li>
                </ul>
            </section>
        </div>
    </main>
</body>
<script src="../static/js/main.js"></script>
<!-- 
<script src="/static/js/enemy.js"></script>
<script src="/static/js/p5.min.js"></script>
<script src="/static/js/sketch.js"></script>
<script src="/static/js/ship.js"></script>
-->

</html>