<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a great fucking test</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <main id="wrapper">
        <nav id="nav-bar"><a href="">HOME</a></nav>
        <div id="main-page">
            <div id="left-painel">
                <section>
                    <div id="presentation-wrapper">
                        <h1 id="mainH1">
                            <span class="presentation2">Hi! i'm</span>
                            <span class="presentation1 titulos">Mauro Henrique</span>
                            <span class="presentation2">Front-end Developer</span>
                        </h1>
                    </div>
                </section>
                <section>
                    <div id="buttons-wrapper">
                        <button class="buttons">View Portfolio</button>
                        <button class="buttons">Download Resume</button>
                    </div>
                </section>
                <hr>
                <section>
                    <h2 class="titulos largeF">About me</h2>
                    <p class="aboutmeP">Hello, i'm a front-end developer from Fortaleza, Brazil
                        currently studying System's Analysis and Development.
                    </p>
                </section>
            </div>
            <div id="right-painel">
                <div id="banner">
                    <span id="bannerImg"></span>
                    <span id="sideBanner">
                        <ul class="titulos ulTitle">
                            <li>Technologies:</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JAVASCRIPT</li>
                            <li>REACT</li>
                            <li>NODE</li>
                            <li>EXPRESS</li>
                            <li>PYTHON</li>
                            <li>DJANGO</li>
                            <li><a href="">View projects</a></li>
                        </ul>
                    </span>
                </div>
                <hr>
                <div id="game-wrapper">
                    <canvas id="stage"></canvas>
                </div>
                <hr>
                <section>
                    <h2 id="work-together" class="titulos largeF">Let's work together!</h2>
                    <div id="socials">
                        <a href="">linkedIn</a>
                        <a href="">Github</a>
                        <a href="">Email</a>
                    </div>
                </section>

            </div>
        </div>
        <footer id="mfooter">
            <div>@ by Mauro Henrique</div>
            <div><a href="">About this page</a></div>
        </footer>
    </main>
</body>
<script src="../static/js/main.js"></script>
<!-- 
<script src="/static/js/enemy.js"></script>
<script src="/static/js/p5.min.js"></script>
<script src="/static/js/sketch.js"></script>
<script src="/static/js/ship.js"></script>
-->
</html>